body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.raya{
	background-color: #2B3499 ;
	height: 5px;
	border:none;
}
.seccion-fondo {
    background-color: #48027A ;
    background-position: center;
    text-align: center;
    
}
body.seccion-fondo {
    background-color: #333;
    color: #fff;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 9999;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
	
	box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

.logo img {
    height: 5.0px;
    filter: brightness(0) invert(1);
}
 .redes-sociales {
            position: fixed;
            bottom: 20px; /* Ajusta la posición vertical */
            left: 2%; /* Centra horizontalmente */
            transform: translateX(-50%); /* Centra horizontalmente */
            z-index: 9999; /* Asegura que esté por encima de otros elementos */
            background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
            padding: 10px 20px; /* Espaciado interno */
            border-radius: 20px; /* Borde redondeado */
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para dar profundidad */
			bottom: 300px;
        }

        .redes-sociales a {
            display: block;
            color: #48027A; /* Color de los iconos */
            font-size: 40px; /* Tamaño de los iconos */
            margin-bottom: 30px; /* Espaciado entre los iconos */
            text-decoration: none;
        }

.redes-icono {
    margin-left: 10px; /* Espaciado entre los iconos */
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
  display: inline;
    margin: 0 10px;
}

nav ul li a {
  color: #000;; /* Color del texto del botón */
  text-decoration: none;
  padding: 8px 15px; /* Espaciado interno del botón */
  border-radius: 5px;
   font-weight: bold;
  background-color: #FFFFFF;; /* Color de fondo del botón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

section {
    margin-bottom: 30px;

}

section h1 {
	 color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

section p { 
    color: #fff;
    font-size: 16px;
}


 nav ul li a:hover {
            background-color: #ddd; /* Cambio de color al pasar el mouse */
}
  /* Estilo para hacer que los botones de contacto se mantengan fijos */
#contacto {
            position: fixed;
            bottom: 0
			px; /* Ajusta la distancia desde la parte inferior */
            right:-70px; /* Ajusta la distancia desde la derecha */
            background-color: #000000; /* Color de fondo del botón de contacto */
            padding: 0px 800px; /* Espaciado interno del botón de contacto */
            border-radius: 5px;
			color: #FFFFFF;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para dar profundidad */
}
#contacto a {
             color: #fff;/* Color del texto del botón de contacto */
            text-decoration: none;
}
#contacto a:hover {
            color: #9A00DC; /* Cambio de color al pasar el mouse */
        }
/* Estilos de llamado a la acción (CTA) */
.btn-cta {
    display: inline-block;
    background-color: #8e-color: img2de2;
    color: #9A00DC ;
    padding: 10px 20px;
    text-decoration: none;
     border-radius: 5 purple;
    margin-top: 20px;
	 color: #9A00DC ;
    font-weight: bold;
}
.btn-cta:hover {
    background-color:;
}
nav a.btn-cta:hover {
    background-color: #6a1b #555;
}
/* Estilos de secciones, títulos y listas */
section {
     padding: 20px;
  
	 color: #EBBF0C;
}
.seccion {
    max-width: 800px;
    margin: 0 auto;
	
    text-align: justify;
}

.valores-lista {
    padding-left: 0;
    list-style: none;
}

.valor {
    margin-bottom: 20px;
	color: #fff;
}
h1, h2 {
	text-align: center;
    font-size: 36px;
     color: #9A00DC;
}

p {
	text-align: justify;
    font-size: 18px;
     color: #fff;
}

/* Estilos para el carrusel */
.carrusel {
    display: flex;
    overflow: hidden;
}

.carrusel-item {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: center;
    transition: transform 0.3s ease-in-out;
}

.carrusel img {
	text-align: center;
    width: 200px;
    object-fit: cover;
    aspect-ratio: 1;
    cursor: pointer;
}

.carrusel-item:hover {
    transform: scale(1.1);
}

/* Estilos para la información del carrusel */
#info-carrusel {
    margin-top: 20px;
}

/* Estilos de pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
