body, html {
  background: linear-gradient(to bottom, #000, #8c52ff);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Estilos para el header */
header {
    background: linear-gradient(to right, #6a0dad, #000);
    color: white;
    padding: 20px 0;
}
h1, h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.logo img {
   text-align: center;
    flex-basis: 150px;
    max-width: 150px;
}
.raya{
	background-color: #2B3499 ;
	height: 5px;
	border:none;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
.seccion-fondo {
    background-color: #FFEFDC ;
    background-position: center;
    text-align: center;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

/* Estilos para las secciones */
section {
    padding: 50px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Estilos para el footer */
footer {
    background: linear-gradient(to right, #6a0dad, #000);
    color: white;
    text-align: center;
    padding: 20px 0;
}
.btn-cta {
    display: inline-block;
    background-color: #FF6C22;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

/* Estilos de secciones, títulos y listas */
section {
    padding: 3rem 0;
    text-align: center;
}
